/* body{
   overflow:hidden;
} */
.coolTitle {
   font-family:arial;
   font-weight:900;
   font-size:19em;
   text-align:center;
   background:repeating-linear-gradient(45deg, black, lime 5px);
   position:relative;
   -webkit-background-clip:text;
   -webkit-text-stroke:7px black;
   color:transparent;
   bottom:200px;
   animation:float 2s ease-in-out infinite;
}
.coolTitle::before{
   z-index:2;
   position:absolute;
   width:10%;
   height:10%;
   top:0;
   left:0;
    background:repeating-linear-gradient(-45deg, black, transparent 5px);
   -webkit-background-clip:text;
   -webkit-text-stroke:12px lightgreen;
}
.coolTitle::after{
   z-index:2;
   position:absolute;
   width:10%;
   height:10%;
   top:0;
   left:0;
   background:radial-gradient(circle at 0 0, transparent 40%, rgba(255,255, 255, 0.6), transparent 60%);
   -webkit-background-clip:text;
   animation:shine 2s ease-in-out infinite;
}
@keyframes float{
   0%{
      transform:perspective(500px)rotatey(30deg);
   }
   50%{
      transform:perspective(500px)rotatey(-30deg);
   }
   100%{
      transform:perspective(500px)rotatey(30deg);
   }
}
@keyframes shine {
   0%{
      background-position:-300px;
   }
   50%{
      background-position:300px;
   }
   100%{
      background-position:-300px;
   }
}
